body {
	background-color: #4f4445;
}
img {
  width: 250px;
  height: 150px;
}
.wrapper {
  background-color: white;
}
.judul {
  margin-left: 50px;
  color: white;
  text-decoration: underline;
}
.wrapper header nav ul li {
  display: inline-block;
  padding: 15px;
}
.wrapper header nav ul li a {
  color: white;
  margin: 10px;
}
nav {
  background-color: #361509;
}
h3 {
  color: white;
  margin-left: 230px;
  margin-top: -20px;
}
footer {
  color: white;
  background-color: #805A46;
  
}
footer h4 {
  margin-left: 10px;
  padding: 15px;
}
.caption {
  color: black;
  margin-left: 320px;
  
}
.text {
  
}
.pertama {
  color: green;
  margin-left: 320px;
}
.h22 {
  color: red;
  margin-left: 320px;
}

aside {
  position: absolute;
  background-color: white;
  margin-left: 700px;
  margin-top: -655px;
  border-left: 1px black solid;
}
aside h1 {
  color: red;
  margin-left: 15px;
}

aside h1 h5 a {
  color: green;
  margin-left: -50px;
}
.5 {
  margin-left: 15px;
}